body {
    background-color: rgb(252,149,0);
}

.container {
    background-color: rgb(0,136,150);
}

#header {
    background-color: rgb(83, 81, 81);
    padding: 20px;
}

#gifButtons {
    padding: 10px;
}

.btn,
#addTopicTerm {
    background-color: rgb(239,243,210);
    border: 1px solid gray;
    color: gray;
}

.btn-light:hover,
.btn-outline-secondary:hover {
    background-color: rgb(0,77,140);
    color: rgb(239,243,210);
    border: none;
}

.gifButton {
    margin: 5px;
}

#searchBar {
    margin-top: 20px;

}

.gifDiv {
    display: inline-block;
    margin: 5px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgb(252,149,0);

}

.gif {
    width: 270px;
}

h1,
h5,
p {
    color: rgb(239,243,210);
}

h1 {
    text-align: center;
}

#footer {
    margin: 10px auto;
}